body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 9999px black;
}
.test {
  background-color: bisque;
  height: 100%;
  width: 300px;
}
